*{
    margin: 0px;
}
.switch {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.slider {
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 24px;
    height:90%;
    aspect-ratio:2;
    position: relative;
}
.slider:before{
    content: "";
    position: absolute;
    left: 4%;
    top: 10%;
    height: 80%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}
.switch.checked .slider {
    background-color: #4CAF50;
}
.switch.checked .slider:before {
    transform: translateX(128%);
}
.moreoptions{
    width:48%;
    border: 2px solid white;
    display:grid;cursor:default;
    position: absolute;
    background-color: black;
    color:white;
    top:41%;left:25%;
    font-size: 84%;
}
.options{
    align-items: center;
    margin:1px;cursor:default;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
}
.head{
    z-index: 10;
    color: white;
    display: grid;
}
.turn{
    display: inline-block;
    font-size: 26px;
}
.pclass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 60px;
}
.heading{
    color: aliceblue;
    background-color: rgb(5, 3, 38);
    text-align: center;
    z-index: -10;
    padding: 20px 0px;
    font-size: 23px;
    top:-1px;
    position: fixed;
    font-weight: 700;
    width: 100%;
}
.line{
    left: 49%;
    align-self: center;
    width: 1.9%;
    background-color: red;
    position: absolute;
    border-radius: 10px;
}
.Mode{
    background-color: rgb(0, 165, 0);
    color:white;
    border:none;border-radius: 4%;
    padding:1.5%;width: 96%;font-size: 25px;
}
.EvaluationBar {
    width: 95%;
    border-radius: 5px;
    display: flex;
    padding: 1.7% 0.7%;
    justify-content: space-between;
}
#bar2{
    background-color: rgb(2, 2, 251);
}
.evaluation{
    font-weight: 500;
    font-size: 20px;
}
.welcomeb {
    position: absolute;
    text-align: center;
    width: 511px;
    top: max(50%,265px);
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: grid; */
    background-color: rgb(9, 9, 44);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #041c61;
    padding: 2%;
    place-items: center;
}
.GameOver{
    display: flex;
    width: 300px;
    height: 400px;
    z-index: 4;
    top: max(25%,150px);
    border: 10px solid red;
    position: absolute;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.aaa{
    font-size: 26px;
    background-color: white;
    text-decoration: none;
    color: black;
    /* padding: 0px 3px 0px 9px; */
    border-radius: 50%;
    margin: 1px;
    display: inline-block;
    height: 35px;
    width: 35px;
}
.welcome{
    font-size: 50px;
    padding: 10px;
    background-color: black;
    margin: 20px;
    border-radius: 10px;
}
.playbutton{
    margin: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #025454;
    padding: 1% 1%;
    border-radius: 0.3em;
    display: flex;
    justify-self: center;
    align-items: end;
}
.playbutton:hover{
    background-color: #619494;
    cursor: pointer;
}
.icon-image{
    height: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.sign-image{
    margin:1px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
}
.icon-image:hover+.playbutton{
    background-color: #619494;
    cursor: pointer;
}
.loader {
    border: 5px solid white;
    border-top: 5px solid #206b9d;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.board{
    width: 97%;
    display: flex;
    aspect-ratio: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 2% 0%;
}
.boxes{
    height: 30%;
    width: 30%;
    display: flex;
    cursor: pointer;
    background-color: black;
    border: 0.2em solid rgb(38, 38, 38);
    border-radius: 14%;
}
.contain{
    width: 15%;
    aspect-ratio: 0.9;
    display: flex;
    background-color: black;
    border: 2px solid rgb(40, 44, 52);
    border-radius: 8px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-evenly;
}
.contain:hover{
    background-color: rgb(42, 42, 42);
    cursor: pointer;
}
.sign-image:hover,.aaa:hover,.icon-image:hover{
    cursor: pointer;
}
.help-container{
    display: flex;
    justify-content: space-evenly;
    width: 97%;
}
#play{
    padding:5px 10px;
}
@media(max-width:750px){
    #play{
        padding: calc(5px + 2*(100vw - 750px) / 250) calc(10px + 2*(100vw - 750px) / 250);

    }
    .evaluation,.contain{font-size: calc(20px + 2*(100vw - 750px) / 110);}
    .heading{
        font-size: max(calc(23px + 4*(100vw - 750px) / 150), 10px);
        padding: max(calc(20px + 4*(100vw - 750px) / 150), 10px) 0px;
    }
    .pclass{
        height: max(calc(60px + 4*(100vw - 750px)/40),30px);
    }
    .welcomeb{
       width:max(calc(511px + 4*(100vw - 750px)/6),153px);
    }
    .GameOver{
        width: 40vw;
        height: calc(17vw + 270px);
    }
    .welcome{
        font-size: max(calc(50px + 2*( 100vw - 750px)/30),14px);
        margin: calc(20px + 2*(100vw - 750px) / 62);
    }
    .playbutton{
        font-size: max(calc(30px + 2*( 100vw - 750px)/50),12px);
        margin: max(calc(10px + 2*(100vw - 750px) / 113),2.04px);
    }
    .icon-image{height: max(calc(35px + 2*( 100vw - 750px)/50),14px);}
    .sign-image{
        height: calc(35px + 2*( 100vw - 750px)/69);
        width: calc(35px + 2*( 100vw - 750px)/69);
    }
    .aaa,.turn{
        font-size: calc(26px + 2*( 100vw - 750px)/93);
    }
    .aaa{
        height: calc(35px + 2*(100vw - 750px) / 68);
        width: calc(35px + 2*(100vw - 750px) / 68);
    }
    .Mode{
        padding: calc(1.5% + 4*(100vw - 750px) / 250);
    }
}
@media (max-width:300px) {
    .Mode{
        padding: 0.4%;
    }
    #play {
        padding: 1.4px 6.4px;
    }
    .heading {
        font-size: 11px;
        padding: 10px 0;
    }
    .evaluation,.contain{font-size: 11.82px;}
    .pclass {
        height: 30px;
    }
    .welcomeb {
        width: 211px;
    }
    .GameOver {
        width: 120px;
        height: 321px;
    }
    .welcome {
        font-size: 20px;
        margin: 5.48px;
    }
    .sign-image {
        height: 21.96px;
        width: 21.96px;
    } 
    .aaa,.turn {
        font-size: 16.32px;
    } 
    .aaa {
        height: 21.76px;
        width: 21.76px;
    }    
}